/* p::first-letter {
    color: red;
    font-size: 50px;
} */

/* p::first-line {
    font-size: 34px;
    font-style: italic;
    text-decoration: underline;
}
p::before{
    content: "😎";
}
p::after{
    content: "😎";
}

p::selection {
    background-color: orange;
    color: purple;
} */

/* Font-Properties */

/* p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-size: 40px;
    font-weight: 600;
    font-style: oblique;
    line-height: 3; 
} */

/* Text Properties */
p {
    color: blueviolet;
    text-align: justify;
    /* text-decoration: line-through; */
    letter-spacing: 4px;
    word-spacing: 3px;
    text-transform: lowercase;
}